<<<<<<< HEAD
#navbar{
    display: flex;
    justify-content: flex-end;
    background-color:#BE3144;
}
a{
text-decoration: none;
font-size: 20px;
color: white(255, 255, 255);
}
li{
margin-right:10px;
}
#parent > li {
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: red;
}
#main-footer div a {
    color: #333;
    padding: 0.5rem 1rem;
}
    
=======
html {
    margin: 0;
    border: none;
    padding: 0;
}

li {
    list-style: none;
    padding: 1em 6em;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 18em;
}

.menu {
    display: flex;
    align-items: center;

}

#contact-email {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input {
    width: 15%;
    margin: 1em 0;
}

#btn {
    padding: .7em;
    background-color: orange;
    outline: none;
    border: 0;
    max-width: 150px;
    color: black;
    font-size: 1em;
    font-weight: bold;
}

>>>>>>> d86baf4920e4ea779486a646d337817d28667160
